/node_modules
/public/build
/public/hot
/public/invoice
/public/driver
/public/insurance
/public/license_proof/
/public/proof/
/public/refuel
/public/users
/public/vehical
/public/vms
/storage/*.key
/storage/logs/*.log
/storage/fonts/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
