@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --theme-color: #5321B1;
    --delete-color: #cb3a3a;
    --secondary-color: #26ade1;
        --spacing: 0.25rem;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    width: 100%;
}


.kav-side-bar-bg {
    background: linear-gradient(180deg, #2F0886 0%, #6B2AC2 51.44%, #9466EF 100%);
}
.kav-side-bar-bg span.menu-item-icon-size svg path {
    fill: #fff;
}
.kav-side-bar-bg span.menu-item-icon-size svg.svg-no-fill path {
    fill: none;
    stroke: #fff;
}
.login-image-bg{
    background: url(/assets/img/main-bg-login.webp) no-repeat;
    background-size: 100% 100%;
    min-height: calc(100vh - 63px);
}
.view-button span svg{
    fill: currentColor;
    width: 16px;
    height: 16px;
}
.delete-button{
    color: #E7000B;
}
.delete-button span svg path{
    fill: #E7000B;
 }
 .next-button svg {
    width: 16px;
    height: 16px;
 }
 .next-button svg path{
    stroke: #fff;
 }
.menu-item-others-wrapper {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 1rem;
}
.menu-item-others {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}
.menu-item-others-icon {
    opacity: 0.9;
}
.fc-daygrid-event-harness .fc-daygrid-event.fc-event-start {
    margin-left: 0px !important;
}
.fc-daygrid-event-harness .fc-daygrid-event.fc-event-start {
    margin: 2px 3px !IMPORTANT;
}
.fc-daygrid-event-harness .fc-daygrid-event.fc-event-start .event-fc-color {
    padding: 1px 5px;
    overflow: hidden;
}
.fc-daygrid-event-harness .fc-daygrid-event.fc-event .event-fc-color .fc-event-title, .fc-event-main .fc-event-title, .fc-daygrid-event-harness .fc-daygrid-event.fc-event .event-fc-color .fc-event-time {
    font-size: 12px !important;
}
.fc-event .fc-event-main .fc-event-title {
    font-size: 12px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 2px;
}
.fc-timegrid-col-events .fc-timegrid-event-harness a.fc-event{
    min-height: max-content;
}
.fc-event-main .fc-daygrid-event-dot {
    margin-right: 4px;
}
.custom-calendar button.fc-addEventButton-button, .custom-calendar .fc-button.fc-button-active {
    background-color: #5321B1 !important;
    color: #fff !important;
}
.custom-calendar button.fc-addEventButton-button:hover {
    background-color: #E06B04 !important;
}
select {
    appearance: none;
    background: url('/images/down-arrow.png') no-repeat;
    background-position: 98% 50%;
}
select.all-status-select {
    background: url('/images/down-arrow.png') no-repeat #F3F3F5;
    background-position: 95% 50%;
}
.footer-shadow{
    box-shadow: -3px -3px 13.7px 0px #0000001A;
}
nav span.menu-item-icon-size svg {
    width: calc(var(--spacing) * 5) !important;
    height: calc(var(--spacing) * 5) !important;
}
.screen-height {
    min-height: calc(100vh - 77px);
    padding-bottom: 44px;
}
.react-select__menu{
    z-index: 99999;
    background-color: #fff;
}


@media (max-width: 1023px) {
    .toggle-sidebar-icon svg,
    .toggle-sidebar-icon .menu-icon {
        width: 32px !important;
        height: 32px !important;
    }

}

@media screen and (max-width:767px) {
    .custom-calendar .fc-dayGridMonth-view{
        min-width: 100% !important;
    }
    .screen-height {
    min-height: calc(100vh - 34px);
    padding-bottom: 34px;
}
}
